html {
	height: 100%;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

body {
	height: 100%;
	margin: 0px;
	background-color: #535353;
}

#map {
	width: 100%;
	height: 100%;
	position: absolute;
}

#panel {
	height: 100%;
	position:relative;
	left: 75%;  /* adjust value accordingly */
	visibility: hidden;
}

/*Cross browser transparency*/
.dropSheet
{
    background-color/**/: #000000;
    background-image/**/: none;
    opacity: 0.5;
    filter: alpha(opacity=50);
}