html {
	height: 100%;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

body {
	height: 100%;
	margin: 0px;
	background-color: #535353;
}

#map {
	width: 100%;
	height: 100%;
	position: absolute;
}

#panel {
	height: 100%;
	width: 25%;
	position:absolute;
	left: 75%;
	display: inline;
	background-color/**/: rgba(0, 0, 0, .65);
    background-image/**/: none;
    filter: alpha(opacity=50);
    text-align: center;
    color: #fff;
    font-size: 125%;
}

#timer {
	bottom: .5%;
	left: .5%;
	width: 100%;
	position:absolute;
	display: inline;
	color: #fff;
	font-size: 200%;
	font-weight: bold;
	text-shadow:
    -4px -4px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  

}

.red {
	color: red;
}

.green {
	color: #98FB98;
}

.bigNumber {
	font-size: 150%;
}

#userStats {
	display: none;
}

#infected {
	font-weight: bold;
}

#dateInfected {
	display: none;
}

.title {
	text-align: center;
	display: inline;
} 

.content {
	text-align: left;
	margin-left: 15px;
	margin-right: 15px;
}