html {
	height: 100%;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
}

body {
	height: 100%;
	margin: 0px;
	background-color: #535353;
}

#map {
	width: 100%;
	height: 100%;
	position: absolute;
}

#panel {
	height: 100%;
	width: 25%;
	position:absolute;
	left: 75%;
	display: none;
	background-color/**/: rgba(0, 0, 0, .65);
    background-image/**/: none;
    filter: alpha(opacity=50);
    text-align: center;
    color: #fff;
    font-size: 125%;
}

#infected {
	font-weight: bold;
}

.title {
	text-align: center;
	display: inline;
} 

.content {
	text-align: left;
	margin-left: 15px;
}